<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codepath.vvalluri.imagesearch"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock.Light" >
        <activity
            android:name=".activities.SearchActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ImageDisplayActivity"
            android:label="@string/title_activity_image_display"
            android:parentActivityName=".activities.SearchActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codepath.vvalluri.imagesearch.activities.SearchActivity" />
        </activity>
        <activity
            android:name=".activities.FilterSettingActivity"
            android:label="@string/title_activity_filter_setting" >
        </activity>
        <activity
            android:name="com.codepath.vvalluri.imagesearch.activities.FilterActivity"
            android:label="@string/title_activity_filter"
            android:parentActivityName=".activities.SearchActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codepath.vvalluri.imagesearch.activities.SearchActivity" />
        </activity>
    </application>

</manifest>
